<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>77</title>
</head>
<body>
<div style="position: absolute;top:0;left:0;right:0;bottom: 0">
  <img style="position:relative;margin:10% auto;min-width:100%" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1568722772994&di=0f092cabd2c95c930e79449978c524bc&imgtype=0&src=http%3A%2F%2Fwx2.sinaimg.cn%2Fbmiddle%2Fa9cf8ef6gy1fm7ayoz06sj20k0095t97.jpg" alt="">
  <div style="position:relative;text-align:center;width:100%;font-size:2.5rem">77姐姐是个小仙女!</div>
  <div style="position:relative;text-align:center;width:100%;font-size:2.5rem">不接受反驳！</div>
</div>
</body>
</html>
