<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
				content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<style>
		#qiu {
			width: 100px;
			height: 100px;
			border-radius: 50%;
			background: red;
		}
	</style>
	<script>
    let a = 1;
    setInterval(function f() {
      let qiu = document.getElementById('qiu');
      if (a === 1) {
        qiu.style.background = 'blue';
        a = 2
      } else if (a === 2) {
        qiu.style.background = 'red';
        a = 1
      }
    }, 100)
	</script>
</head>
<body>
<div style="position: sticky">
	<div id="qiu">

	</div>
</div>
</body>
</html>
